*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    margin-top: 10%;
    text-align: center;

    overflow: hidden;
}
.main{
    background: #1b1a1a;
    border-radius: 50px;
    margin-left: 400px;
    height: 400px;
    width: 500px;
    border: 2px solid black;
}
h1{
    color: floralwhite;
    text-shadow: 5px 5px 9px blue,-5px -5px 9px rgb(40, 187, 20);
    height: 60px;
}
b{
    color: aliceblue;
    font-size: 25px;
}
input{
    height: 29px;
    width: 230px;
    border-radius: 50px;
}
button{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    font-size: large;
}
button:hover{
    background: #65088a;
    color:rgb(0, 255, 179);
    transition: 400ms;
}